## DINO DB connection and query of groundwater data
Exploration of the possibilitites and how should the queries be constructed to retrieve groundwater data from DINO.

### 1. Connection

In [18]:
# Credentials for DINO database
from dotenv import load_dotenv
load_dotenv("env.sh")

import os
USR_DINO = os.getenv("USR_DINO")
PWD_DINO = os.getenv("PWD_DINO")

In [19]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine(f"oracle+oracledb://{USR_DINO}:{PWD_DINO}@gdnoradb01.gdnnet.lan:1522/?service_name=dinoprd03")

In [20]:
test_query = "SELECT 1 FROM DUAL"
df = pd.read_sql(test_query, engine)
print(df.head())

   1
0  1

### 2. SQL queries
#### 2.1 Get time-series (csv-like) for a well
First, we want to craft a query that allows us to get the time-series of water head values for a given well (with `NITG_NR`). The results may have multiple filters in it (still ahve not figure out how to select specific filter or how to obtaine the filter depth).
**Datum reference:** In this case we are getting the water head from the table `GWS_MSM_HEAD`, and the values store here are with reference to MP (_Meetpunt_) which is different to NAP and to Maaiveld.
Note, this is also weird in the csv exported from DINO loket where the Referentie is NAP, but the values in `Stand (cm t.o.v. MP) != Stand (cm t.o.v NAP)`

In [23]:
NITG_NR = 'B31B0190'
sql_query = f"""
SELECT
    h.MONITOR_DATE,
    p.PIEZOMETER_NR,
    h.VALUE,
    w.NITG_NR,
    w.WELL_DBK,
    l.X_CRD,
    l.Y_CRD 
FROM
    DINO_DBA.GWS_MSM_HEAD h
JOIN
    DINO_DBA.GWS_PIEZOMETER p ON h.piezometer_dbk = p.piezometer_dbk
JOIN
    DINO_DBA.GWS_WELL w ON p.well_dbk = w.well_dbk
JOIN
	DINO_DBA.LOC_SURFACE_LOCATION l ON l.SURFACE_LOCATION_DBK = w.SURFACE_LOCATION_DBK
WHERE
    w.NITG_NR = '{NITG_NR}'
"""

In [24]:
df = pd.read_sql(sql_query, engine)
print(df.head())

  monitor_date piezometer_nr  value   nitg_nr  well_dbk   x_crd   y_crd
0   1973-08-28           001    107  B31B0190  36542779  119500  470980
1   1973-10-15           001     81  B31B0190  36542779  119500  470980
2   1973-12-14           001     77  B31B0190  36542779  119500  470980
3   1974-04-29           001     83  B31B0190  36542779  119500  470980
4   1974-08-28           001     91  B31B0190  36542779  119500  470980

#### 2.2. Get time-series for wells that have been migrated (100% sure)
We can read from migration tables, the wells that have been succesfully migrated to BRO. Then query the time-series of such items in order to create a ground-truth dataset.

In [ ]:
sql_query_migrated_test_set = f"""

"""

### 3. Close connection

In [25]:
engine.dispose()